<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JobSearchApp</a>
    </div>
</div>


<nav>
    <MudNavMenu>

        <MudNavLink Href="/" Match="NavLinkMatch.All"
                    Icon="@Icons.Material.Filled.Home">
            Dashboard
        </MudNavLink>

        <MudNavLink Href="/projects"
                    Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Filled.Description">
            Projects
        </MudNavLink>

        <MudNavLink Href="/jobs"
                    Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Filled.Work">
            Jobs
        </MudNavLink>

        <MudNavLink Href="/files"
                    Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Filled.Folder">
            Files
        </MudNavLink>

        <MudNavLink Href="/applications"
                    Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Filled.Assignment">
            Applications
        </MudNavLink>

        <MudNavLink Href="/companies"
                    Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Filled.Business">
            Companies
        </MudNavLink>

        <MudNavLink Href="/jobpostings"
                    Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Filled.WorkHistory">
            Job Postings
        </MudNavLink>

    </MudNavMenu>
</nav>


